
   @model IEnumerable<LibraryManagementSystem.Models.Member>
    @{
        ViewData["Title"] = "Member List";
    }

    <h1>Member List</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">
            Add New Member
        </a>
    </p>

    <table class="table table-bordered table-striped">
          <thead>
             <tr class="text-center">
                 <th>Name</th>
                 <th>Email</th>
                 <th>Phone</th>
                 <th>Address</th>
                 <th>Action</th>

             </tr>
          </thead>

          <tbody>

       

    @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <!-- Edit and Delete function -->
                <td class="text-center">
                    <!-- #Edit-->
                <a asp-action="Edit" 
                    asp-route-id="@item.Id"
                    class="btn btn-warning btn-sm">
                      Edit
                </a>
                <!-- Delete -->
            <a asp-action="Delete"
                asp-route-id="@item.Id"
                class="btn btn-danger btn-sm">
                    Delete
            </a>

                </td>
            </tr>

        }


         </tbody>

    </table>