    @model IEnumerable<LibraryManagementSystem.Models.Borrow>

    @{
    ViewData["Title"] = "Borrow Management";
    }

    <!-- ================= Header ================= -->

    <div class="d-flex justify-content-between align-items-center mb-4 mt-3">

    <div>

        <h2 class="fw-bold mb-1">
            📖 Borrow Management
        </h2>

        <p class="text-muted fs-5 mb-3 ms-5">
            Manage borrowed books efficiently.
        </p>

    </div>

    <a asp-action="Create"
        class="btn btn-success">

        <i class="bi bi-plus-circle"></i>

        Borrow Book

    </a>

    </div>


    <!-- ================= Search ================= -->

    <form asp-action="Index"
        method="get"
        class="row g-2 mb-4">

    <div class="col-md-5">

        <input type="text"
                name="searchString"
                value="@ViewBag.SearchString"
                class="form-control"
                placeholder="Search by Book or Member" />

    </div>

    <div class="col-auto">

        <button type="submit"
                class="btn btn-primary">

            <i class="bi bi-search"></i>

            Search

        </button>

    </div>

    <div class="col-auto">

        <a asp-action="Index"
            class="btn btn-secondary">

            Reset

        </a>

    </div>

    </form>

    <!-- ================= Borrow List ================= -->

    <h4 class="fw-bold mb-3">

    Borrow List

    </h4>

    <p class="text-muted mb-3 ms-3 text-bold">

    View all borrowed and returned books.

    </p>

    <!-- ================= Table Starts Here ================= -->

    <div class="table-responsive shadow rounded">

    <table class="table table-bordered table-hover table-striped text-center align-middle mb-0">

        <thead class="table-dark">

            <tr>

                <th>Book</th>

                <th>Member</th>

                <th>Borrow Date</th>

                <th>Due Date</th>

                <th>Status</th>

                <th>Action</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
    {
    <tr>

        <td>
            @item.Book?.Title
        </td>

        <td>
            @item.Member?.Name
        </td>

        <td>
            @item.BorrowDate.ToString("dd MMM yyyy")
        </td>

        <td>
            @item.DueDate.ToString("dd MMM yyyy")
        </td>

        <td>

            @if (item.ReturnDate == null)
            {
                if (item.DueDate < DateTime.Today)
                {
                    <span class="badge bg-danger">
                        OverDue
                    </span>
                }
                else
                {
                    <span class="badge bg-warning text-dark">
                        Borrowed
                    </span>
                }
            }
            else
            {
                <span class="badge bg-success">
                    Returned
                </span>
            }

        </td>

        <td>

            @if (item.ReturnDate == null)
            {

              <a asp-action="Details"
                 asp-route-id="@item.Id"
                class="btn btn-info btn-sm">
                 <i class="bi bi-eye"></i> Details
                
                 </a>

                <a asp-action="Return"
                    asp-route-id="@item.Id"
                    class="btn btn-success btn-sm">

                    <i class="bi bi-arrow-return-left"></i>

                    Return

                </a>
            }
            else
            {
                <span class="badge bg-success">
                    Completed
                </span>
            }

        </td>

    </tr>
    }

        </tbody>

    </table>

    </div>

    <!-- ================= Pagination ================= -->

    <nav class="mt-4">

    <ul class="pagination justify-content-center">

        <!-- Previous -->

        <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">

            <a class="page-link"
                asp-action="Index"
                asp-route-page="@(ViewBag.CurrentPage - 1)"
                asp-route-searchString="@ViewBag.SearchString">

                Previous

            </a>

        </li>

        <!-- Page Number -->

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">

                <a class="page-link"
                    asp-action="Index"
                    asp-route-page="@i"
                    asp-route-searchString="@ViewBag.SearchString">

                    @i

                </a>

            </li>
        }

        <!-- Next -->

        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">

            <a class="page-link"
                asp-action="Index"
                asp-route-page="@(ViewBag.CurrentPage + 1)"
                asp-route-searchString="@ViewBag.SearchString">

                Next

            </a>

        </li>

    </ul>

    </nav>