@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewData["title"] = "Book List";
}

        <div class="d-flex justify-content-between align-items-center mb-4 mt-3">
            <div>
                <h2 class="fw-bold mb-1">
                   📚 Books Management
                </h2>
                <p class="text-muted mb-0">
                    Manage all library books.
                </p>
            </div>

            <a asp-action="Create" class="btn btn-success">
               <i class="bi bi-plus-circle"></i> Add Book
            </a>
        </div>
   
    <form method="get" asp-action="Index" class="row g-2 mb-4 pt-2">

        <div class="col-md-4">
            <input type="text"
                name="searchString"
                value="@ViewBag.SearchString"
                class="form-control"
                placeholder="Search by Book Title." />
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                 Search
            </button>
        </div>

        <div class="col-auto">
            <a asp-action="Index" class="btn btn-secondary">
                Reset
            </a>
        </div>

    </form> 
      <!-- # Form end--> 
    
 
   <h2 class="fw-bold">Book List</h2>
        <p class="text-muted fs-5 mb-3 ms-5">
            Manage all library books efficiently.
        </p>




    <p>
        
                <a  asp-action="ExportToExcel" 
                class="btn btn-success mb-3 ms-2">
                📥 Export Excel
                </a>

            <a asp-action="ExportToPdf" class="btn btn-danger mb-3 ms-2">
            <i class="bi bi-file-earmark-pdf"></i> Export PDF
            </a>
    </p>
     @* Table Create In a books*@
    <div class="table-responsive shadow rounded">
     <table class="table table-bordered table-striped table-hover text-center align-middle rounded mb-0">
         
        <thead class="table-dark ">
            <tr class ="text-center">
                <th>Title</th>
                <th>ISBN</th>
                <th>Total Copies</th>
                <th>Available Copies</th>
                <th>Category</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.ISBN</td>
                <td>@item.TotalCopies</td>
                <td>@item.AvailableCopies</td>
                <td>@item.Category?.Name</td>
                <td>@item.Author?.Name</td>
                <td>@item.Publisher?.Name</td>

        <!-- Edit  and Delete Function............ --> 
            <td class="text-center">
                <a asp-action="Edit"
                    asp-route-id="@item.Id"
                    class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil-square"></i>
                    Edit
                </a>

                <a asp-action="Delete" 
                    asp-route-id = "@item.Id"
                    class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                    Delete
                </a>
            </td>
            </tr>
        }
        </tbody>
    </table>
    </div>


    <nav class="mt-4">
        <ul class="pagination justify-content-center">

               <!-- #Previous Button -->
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                 <a class="page-link"
                    asp-action="Index"
                    asp-route-page="@(ViewBag.CurrentPage - 1)"
                    asp-route-searchString ="@(ViewBag.SearchString)">

                   Previous      
                </a>
            </li>
            <!-- # Page Number -->
            @for(int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")" >
             <a class="page-link"
                asp-action="Index"
                asp-route-page="@i"
                asp-route-searchString ="@ViewBag.SearchString" >
                @i
             </a>
             </li>
            }

            <!-- Next Button -->
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">

                <a class="page-link"
                    asp-action="Index"
                    asp-route-page="@(ViewBag.CurrentPage + 1)"
                    asp-route-searchString="@ViewBag.SearchString">
                    Next
                </a>
            </li>
           
        </ul>
    </nav>
        
