@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewData["title"] = "Book List";
}
   
 <form method="get" asp-action="Index" class="row g-2 mb-4 pt-2">

    <div class="col-md-4">
        <input type="text"
               name="searchString"
               value="@ViewBag.SearchString"
               class="form-control"
               placeholder="🔍 Search by Book Title." />
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary">
            🔍 Search
        </button>
    </div>

    <div class="col-auto">
        <a asp-action="Index" class="btn btn-secondary">
            Reset
        </a>
    </div>

</form> 
<!-- # Form end--> 
   
<h2>Book List</h2>
<p>Welcome to Library Management system</p>

    <p>
        <a asp-action= "Create" class="btn btn-primary mb-3"> ➕ Add New Book</a>
    </p>

<table class="table table-bordered table-striped table-dark text-center">
    <thead>
        <tr class ="text-center">
            <th>Title</th>
            <th>ISBN</th>
            <th>Total Copies</th>
            <th>Available Copies</th>
            <th>Category</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.ISBN</td>
            <td>@item.TotalCopies</td>
            <td>@item.AvailableCopies</td>
            <td>@item.Category?.Name</td>
            <td>@item.Author?.Name</td>
            <td>@item.Publisher?.Name</td>

      <!-- Edit  and Delete Function............ --> 
        <td class="text-center">
            <a asp-action="Edit"
                asp-route-id="@item.Id"
                class="btn btn-warning btn-sm">
                Edit
            </a>

            <a asp-action="Delete" 
                 asp-route-id = "@item.Id"
                class="btn btn-danger btn-sm">
                Delete
            </a>
        </td>
        </tr>
    }
    </tbody>
</table>


    <nav class="mt-4">
        <ul class="pagination justify-content-center">

               <!-- #Previous Button -->
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                 <a class="page-link"
                    asp-action="Index"
                    asp-route-page="@(ViewBag.CurrentPage - 1)"
                    asp-route-searchString ="@(ViewBag.SearchString)">

                   Previous      
                </a>
            </li>
            <!-- # Page Number -->
            @for(int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")" >
             <a class="page-link"
                asp-action="Index"
                asp-route-page="@i"
                asp-route-searchString ="@ViewBag.SearchString" >
                @i
             </a>
             </li>
            }

            <!-- Next Button -->
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">

                <a class="page-link"
                    asp-action="Index"
                    asp-route-page="@(ViewBag.CurrentPage + 1)"
                    asp-route-searchString="@ViewBag.SearchString">
                    Next
                </a>
            </li>
           
        </ul>
    </nav>
        
