
@model LibraryManagementSystem.Models.Member
@{
    ViewData["Title"] = " Member Details";
}

    <h2 class="mb-4">
    @ViewData["Title"]
    </h2>

    <div class="col-md-6 shadow rounded-3">
         <div class="card-header bg-warning mt-3 h2 rounded-top fw-bold">
            <i class="bi bi-person-fill me-2 ms-1"></i>
        <span class="fw-semibold fs-5">Member Details</span>
         </div>

         <table class="table table-bordered table-striped mb-0">
             <tr class="">
                <th width="220" class="">Name</th>
                <td class="">@Model.Name</td>
             </tr>

             <tr class="">
                <th class="">Email</th>
                <td class="">@Model.Email</td>
             </tr>

             <tr class="">
                <th class="">Phone</th>
                <td class="">@Model.Phone</td>
             </tr>

             <tr class="">
                <th class="">Address</th>
                <td class="">@Model.Address</td>
             </tr>

         </table>
        
    </div>