    @{
        ViewData["Title"] = "Dashboard";
    }  

    <h2 class="mb-4"> Library Management Dashboard.</h2>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card bg-primary text-white">
                <div class="card-body text-center">
                    <h5>Total Books</h5>
                    <h2>@ViewBag.TotalBooks</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-success text-white">
                <div class="card-body text-center">
                    <h5>Total Members</h5>
                    <h2>@ViewBag.TotalMembers</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-info  text-white">
                <div class="card-body text-center">
                    <h5>Borrowed Books</h5>
                    <h2>@ViewBag.TotalBorrowed</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-danger text-white">
                <div class="card-body text-center">
                    <h5>Retured Book Books</h5>
                    <h2>@ViewBag.TotalReturned</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-secondary text-white">
                <div class="card-body text-center">
                    <h5>Available Book Books</h5>
                    <h2>@ViewBag.AvailableBooks</h2>
                </div>
            </div>
        </div>
    </div>